@charset "utf-8";

$sm: 36em; //576px
$md: 48em; //768px
$lg: 62em; //992px
$xl: 75em; //1200px
//Bootstrap基準

$mainColor: #AEC5EB;
$subColor01: #3A405A;
$subColor02: #F9DEC9;

$headerHeight: 54px;
$modalWidthSm: 80%;
$modalWidthMd: 64%;